.galery {
    max-width: 975px;
    margin: 0 auto;
    /* padding: 30px; */
}

.row {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 30px;
}

.photo {
    margin-top: 30px;
}